page-contact {
	.contact-inner {
		position:absolute;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		top:50%;
		width:90%;

		@media (max-width: 680px) {
			width: 95%;
		}

		h1 {
			width: 100%;
			padding: 0 0 15px;
			margin: 0;
			text-align: center;
		}

		.contact-form {
			float:left;
			width:50%;
			left: -5px;
			position:relative;

			@media (max-width: 1200px) {
				width: 70%;
			}

			@media (max-width: 860px) {
				width: 80%;
			}

			@media (max-width: 680px) {
				width: 100%;
			}

			input {
				width: calc(50% - 10px);
				float:left;
				margin: 5px;
				border:none;
				padding: 5px 10px;
				font-size: 1vw;
				background:darken(color($colors, primary), 1.5);
				color:#bbb;
				font-weight:300;

				@media (max-width: 1200px) {
					font-size: 1.5vw;
				}

				@media (max-width: 860px) {
					font-size: 2vw;
				}

				@media (max-width: 680px) {
					font-size: 4vw;
				}

				@media (max-width: 400px) {
					font-size: 5vw;
				}
			}

			textarea {
				margin:5px;
				width: calc(100% - 10px);
				resize: none;
				border:none;
				height: 200px;
				padding: 5px 10px;
				font-size: 1vw;
				background:darken(color($colors, primary), 1.5);
				color:#bbb;
				font-weight:300;

				@media (max-width: 1200px) {
					font-size: 1.5vw;
				}

				@media (max-width: 860px) {
					font-size: 2vw;
				}

				@media (max-width: 680px) {
					font-size: 4vw;
				}

				@media (max-width: 400px) {
					font-size: 5vw;
				}
			}

			.submit-btn {
				width: calc(100% - 10px);
				margin: 5px;
				text-align: center;
				padding: 10px;
				background: $active-color;
				font-size: 1vw;
				cursor:pointer;
				-webkit-transition: background ease-in-out 300ms;
				transition: background ease-in-out 300ms;
				color:#fff;

				@media (max-width: 1200px) {
					font-size: 1.5vw;
				}

				@media (max-width: 860px) {
					font-size: 2vw;
				}

				@media (max-width: 680px) {
					font-size: 4vw;
				}

				@media (max-width: 400px) {
					font-size: 5vw;
				}

				&:hover {
					background: darken($active-color, 10);
				}
			}
		}
	}
}
